<div class="container">
    <div class="list-group">
    
        <a class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">All Employees</h5>
          </div>
        </a>
    
        <div *ngFor="let user of users">
        <a [routerLink]="['/users', user.userId ]"class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ user.userFirstName }} {{ user.userLastName }}</h5>
            <small class="text-muted"> EmpId : {{ user.userId }}</small>
          </div>
          <p class="mb-1">Email : {{ user.userEmail }}</p>
          <small class="text-muted">DesignNation : {{ user.userDesignation }}</small>
          <small class="text-muted" style="float: right;">Team Name : {{ user.userTeamName }}</small>
        </a>
      </div>
      </div>
    </div>