<div class="container">
  <div class="row" style="width: 100rem;">
    <div class="col-sm-12">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 clickable">
      <a routerLink = 'admin'>
        <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
            <div class="card-header">Admin</div>
            <div class="card-body">
              <h5 class="card-title">Manage Scrums</h5>
              <p class="card-text">Manage users, Manage Scrums</p>
            </div>
          </div>
      </a>
    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-5 clickable">
      <a routerLink = "users">
        <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
            <div class="card-header">User</div>
            <div class="card-body">
              <h5 class="card-title">Manage Tasks</h5>
              <p class="card-text">Perform Tasks, Create ToDo List</p>
            </div>
        </div>
      </a>
    </div>
  </div>
</div>

